.logo {
    height: 30px;
    width: 30px;
}
.content{
    margin-top: 56px;
}
.tab-content{
    margin-top: .5rem;
    img{
        width: 100%;
    }
}
.carousel{
    img{
        max-height: 500px;
        min-height: 350px;
        object-fit: cover;
    }
}
.card-home{
    min-width: 270px;
    margin-top: 15px;
    &-img{
        &-top{
            max-height: 330px;
            object-fit: cover;
        }
    }
}
.media{
    img{
        max-width: 150px;
        max-height: 150px;
        margin-right: 15px;
    }
}
.user-name {
    color: white;
    margin-right: 1rem;
}

.error-message{
    color: red;
}